/*
SOLIDserver API

OpenAPI 3.0.2 API definition for SOLIDserver service from EfficientIP.<p>Copyright © 2000-2024 EfficientIP</p><p><em>All specifications and information regarding the products in this document are subject to change without notice and should not be construed as a commitment by EfficientIP. EfficientIP assumes no responsibility or liability for any mistakes or inaccuracies that may appear in this document. All statements and recommendations in this document are believed to be accurate but are presented without warranty. Users must take full responsibility for their application of any product.</em></p><p><em>This document aims at detailing EfficientIP proprietary solutions. As our solutions rely on several third-party products, created by other companies or organizations, it may redirect readers to third-party websites and documentation for further information. In such a case, EfficientIP cannot be liable or expected to provide said information on products they do maintain or created.</em></p><p>Generated (Friday 4th of October 2024 03:41:11 PM)</p>

API version: 2.0
Contact: support-api@efficientip.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sdsclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// DnsAPIService DnsAPI service
type DnsAPIService service

type ApiDnsAclAddRequest struct {
	ctx            context.Context
	ApiService     *DnsAPIService
	dnsAclAddInput *DnsAclAddInput
}

func (r ApiDnsAclAddRequest) DnsAclAddInput(dnsAclAddInput DnsAclAddInput) ApiDnsAclAddRequest {
	r.dnsAclAddInput = &dnsAclAddInput
	return r
}

func (r ApiDnsAclAddRequest) Execute() (*DnsAclAddSuccess, *http.Response, error) {
	return r.ApiService.DnsAclAddExecute(r)
}

/*
DnsAclAdd Add a DNS ACL

This service allows you to add objects. A call can only add one object.<ul><li> If no identifier is specified, a new object is added.If an existing identifier is specified, the value of all the parameters specified in input edits the corresponding objects.To execute this service, users must be granted the permission to use it. The rows returned to the user running the service depend on the resources granted to the group they belong to.</br></br><b>Mandatory Parameters</b>: ((acl_name && (server_id || server_name || server_hostaddr)) && acl_value)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDnsAclAddRequest
*/
func (a *DnsAPIService) DnsAclAdd(ctx context.Context) ApiDnsAclAddRequest {
	return ApiDnsAclAddRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DnsAclAddSuccess
func (a *DnsAPIService) DnsAclAddExecute(r ApiDnsAclAddRequest) (*DnsAclAddSuccess, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DnsAclAddSuccess
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DnsAPIService.DnsAclAdd")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dns/acl/add"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.dnsAclAddInput
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderPasswordKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Password"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderLoginKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Username"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenTime"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-sds-ts"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v DnsAclAddFailed
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDnsAclCountRequest struct {
	ctx        context.Context
	ApiService *DnsAPIService
	where      *string
}

// A clause that allows you to filter the result. You can include any output parameter of the service &lt;object&gt;/list of the object in this clause.To filter the result using class parameters, you must tag them first.
func (r ApiDnsAclCountRequest) Where(where string) ApiDnsAclCountRequest {
	r.where = &where
	return r
}

func (r ApiDnsAclCountRequest) Execute() (*ApiCountResponseSuccess, *http.Response, error) {
	return r.ApiService.DnsAclCountExecute(r)
}

/*
DnsAclCount Count the number of DNS ACLs

This service allows you to return the number of objects.<br/>To execute this service, users must be granted the permission to use it. The rows returned to the user running the service depend on the resources granted to the group they belong to.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDnsAclCountRequest
*/
func (a *DnsAPIService) DnsAclCount(ctx context.Context) ApiDnsAclCountRequest {
	return ApiDnsAclCountRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ApiCountResponseSuccess
func (a *DnsAPIService) DnsAclCountExecute(r ApiDnsAclCountRequest) (*ApiCountResponseSuccess, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ApiCountResponseSuccess
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DnsAPIService.DnsAclCount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dns/acl/count"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.where != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "where", r.where, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderPasswordKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Password"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderLoginKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Username"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenTime"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-sds-ts"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDnsAclDeleteRequest struct {
	ctx            context.Context
	ApiService     *DnsAPIService
	aclId          *int32
	serverId       *int32
	serverName     *string
	aclName        *string
	serverHostaddr *string
	warnings       *string
}

// The database identifier (ID) of the DNS ACL, a unique numeric key value automatically incremented when you add a DNS ACL. Use the ID to specify the DNS ACL of your choice.
func (r ApiDnsAclDeleteRequest) AclId(aclId int32) ApiDnsAclDeleteRequest {
	r.aclId = &aclId
	return r
}

// The database identifier (ID) of the DNS server, a unique numeric key value automatically incremented when you add a DNS server. Use the ID to specify the DNS server of your choice.
func (r ApiDnsAclDeleteRequest) ServerId(serverId int32) ApiDnsAclDeleteRequest {
	r.serverId = &serverId
	return r
}

// The name of the DNS server.
func (r ApiDnsAclDeleteRequest) ServerName(serverName string) ApiDnsAclDeleteRequest {
	r.serverName = &serverName
	return r
}

// The name of the DNS ACL.
func (r ApiDnsAclDeleteRequest) AclName(aclName string) ApiDnsAclDeleteRequest {
	r.aclName = &aclName
	return r
}

// The IP address of the DNS server.
func (r ApiDnsAclDeleteRequest) ServerHostaddr(serverHostaddr string) ApiDnsAclDeleteRequest {
	r.serverHostaddr = &serverHostaddr
	return r
}

// A way to bypass &lt;b&gt;(accept) &lt;/b&gt;any enabled rule that would return warning messages. If the service returns an error message, you cannot bypass the enabled rules.
func (r ApiDnsAclDeleteRequest) Warnings(warnings string) ApiDnsAclDeleteRequest {
	r.warnings = &warnings
	return r
}

func (r ApiDnsAclDeleteRequest) Execute() (*DnsAclDeleteSuccess, *http.Response, error) {
	return r.ApiService.DnsAclDeleteExecute(r)
}

/*
DnsAclDelete Delete a DNS ACL

This service allows you to delete an object. A call can only delete one object.<br/>To execute this service, users must be granted the permission to use it. The rows returned to the user running the service depend on the resources granted to the group they belong to.</br></br><b>Mandatory Parameters</b>: acl_id

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDnsAclDeleteRequest
*/
func (a *DnsAPIService) DnsAclDelete(ctx context.Context) ApiDnsAclDeleteRequest {
	return ApiDnsAclDeleteRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DnsAclDeleteSuccess
func (a *DnsAPIService) DnsAclDeleteExecute(r ApiDnsAclDeleteRequest) (*DnsAclDeleteSuccess, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DnsAclDeleteSuccess
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DnsAPIService.DnsAclDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dns/acl/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.aclId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "acl_id", r.aclId, "form", "")
	}
	if r.serverId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_id", r.serverId, "form", "")
	}
	if r.serverName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_name", r.serverName, "form", "")
	}
	if r.aclName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "acl_name", r.aclName, "form", "")
	}
	if r.serverHostaddr != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_hostaddr", r.serverHostaddr, "form", "")
	}
	if r.warnings != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "warnings", r.warnings, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderPasswordKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Password"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderLoginKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Username"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenTime"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-sds-ts"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v DnsAclDeleteFailed
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDnsAclEditRequest struct {
	ctx             context.Context
	ApiService      *DnsAPIService
	dnsAclEditInput *DnsAclEditInput
}

func (r ApiDnsAclEditRequest) DnsAclEditInput(dnsAclEditInput DnsAclEditInput) ApiDnsAclEditRequest {
	r.dnsAclEditInput = &dnsAclEditInput
	return r
}

func (r ApiDnsAclEditRequest) Execute() (*DnsAclEditSuccess, *http.Response, error) {
	return r.ApiService.DnsAclEditExecute(r)
}

/*
DnsAclEdit Edit a DNS ACL

This service allows you to edit existing ones. A call can only edit one object.<ul><li> If no identifier is specified, a new object is added.If an existing identifier is specified, the value of all the parameters specified in input edits the corresponding objects.To execute this service, users must be granted the permission to use it. The rows returned to the user running the service depend on the resources granted to the group they belong to.</br></br><b>Mandatory Parameters</b>: ((acl_id || (acl_name && (server_id || server_name || server_hostaddr))) && acl_value)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDnsAclEditRequest
*/
func (a *DnsAPIService) DnsAclEdit(ctx context.Context) ApiDnsAclEditRequest {
	return ApiDnsAclEditRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DnsAclEditSuccess
func (a *DnsAPIService) DnsAclEditExecute(r ApiDnsAclEditRequest) (*DnsAclEditSuccess, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DnsAclEditSuccess
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DnsAPIService.DnsAclEdit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dns/acl/edit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.dnsAclEditInput
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderPasswordKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Password"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderLoginKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Username"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenTime"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-sds-ts"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v DnsAclEditFailed
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDnsAclInfoRequest struct {
	ctx        context.Context
	ApiService *DnsAPIService
	aclId      *int32
}

// The database identifier (ID) of the DNS ACL, a unique numeric key value automatically incremented when you add a DNS ACL. Use the ID to specify the DNS ACL of your choice.
func (r ApiDnsAclInfoRequest) AclId(aclId int32) ApiDnsAclInfoRequest {
	r.aclId = &aclId
	return r
}

func (r ApiDnsAclInfoRequest) Execute() (*DnsAclData, *http.Response, error) {
	return r.ApiService.DnsAclInfoExecute(r)
}

/*
DnsAclInfo Display the properties of a DNS ACL

This service allows you to display the properties of an object.<br/>To execute this service, users must be granted the permission to use it. The rows returned to the user running the service depend on the resources granted to the group they belong to.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDnsAclInfoRequest
*/
func (a *DnsAPIService) DnsAclInfo(ctx context.Context) ApiDnsAclInfoRequest {
	return ApiDnsAclInfoRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DnsAclData
func (a *DnsAPIService) DnsAclInfoExecute(r ApiDnsAclInfoRequest) (*DnsAclData, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DnsAclData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DnsAPIService.DnsAclInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dns/acl/info"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.aclId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "acl_id", r.aclId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderPasswordKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Password"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderLoginKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Username"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenTime"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-sds-ts"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDnsAclListRequest struct {
	ctx        context.Context
	ApiService *DnsAPIService
	orderby    *string
	select_    *string
	where      *string
	limit      *int32
	offset     *int32
}

// A clause that allows you to sort the result. You can include any output parameter of the service in this clause.To sort the result using class parameters, you must tag them first.You can add the optional keyword &lt;b&gt;ASC&lt;/b&gt; (ascending) or &lt;b&gt;DESC&lt;/b&gt; (descending) after each parameter. If not specified, &lt;b&gt;ASC&lt;/b&gt; is used by default. The order of the parameters specified is set using their value&#39;s name or ordinal number. Each parameter value is compared from one row to the next. If all the parameters of the rows are equal, they are returned in an implementation-dependent order.
func (r ApiDnsAclListRequest) Orderby(orderby string) ApiDnsAclListRequest {
	r.orderby = &orderby
	return r
}

// A statement that allows you to specify which column(s), i.e. parameter, is returned by the service.The statement can contain any output parameter of the service &lt;object&gt;/list.If you specify several parameters they must be separated by a comma as follows: &lt;b&gt;select&#x3D;&amp;lt;param1&amp;gt;&lt;b&gt;,&lt;/b&gt;&amp;lt;param2&amp;gt;&lt;b&gt;,&lt;/b&gt;...&lt;/b&gt; .If the call includes the clause &lt;b&gt;where&lt;/b&gt;, all the parameters it contains must be specified in the statement &lt;b&gt;select&lt;/b&gt;.If the call includes the clause &lt;b&gt;orderby&lt;/b&gt;, all the parameters it contains must be specified in the statement &lt;b&gt;select&lt;/b&gt;.To include class parameters in the statement, you must tag them first.
func (r ApiDnsAclListRequest) Select_(select_ string) ApiDnsAclListRequest {
	r.select_ = &select_
	return r
}

// A clause that allows you to filter the result. You can include any output parameter of the service in this clause.To filter the result using class parameters, you must tag them first&lt;br/&gt;.The parameters and their value must be specified following the operators and syntax of the SQL standard, as in the following examples : &lt;b&gt;&amp;lt;parameter&amp;gt;&#x3D;&#39;&amp;lt;value&amp;gt;&#39;&lt;/b&gt; or &lt;b&gt;&amp;lt;parameter&amp;gt; IS NOT NULL&lt;/b&gt;. The clause is case insensitive and must be encoded in URL format.
func (r ApiDnsAclListRequest) Where(where string) ApiDnsAclListRequest {
	r.where = &where
	return r
}

// The maximum number of results to be returned. Depending on the user resources and the database content, it can return less results than the value you have specified.The input parameter &lt;b&gt;limit&lt;/b&gt; must be specified in &lt;b&gt;lowercase&lt;/b&gt;.
func (r ApiDnsAclListRequest) Limit(limit int32) ApiDnsAclListRequest {
	r.limit = &limit
	return r
}

// The number of rows to skip in the service output.The input parameter &lt;b&gt;offset&lt;/b&gt; must be specified in &lt;b&gt;lowercase&lt;/b&gt;.
func (r ApiDnsAclListRequest) Offset(offset int32) ApiDnsAclListRequest {
	r.offset = &offset
	return r
}

func (r ApiDnsAclListRequest) Execute() (*DnsAclData, *http.Response, error) {
	return r.ApiService.DnsAclListExecute(r)
}

/*
DnsAclList List the DNS ACLs

This service allows you to list the objects.<br/>To execute this service, users must be granted the permission to use it. The rows returned to the user running the service depend on the resources granted to the group they belong to.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDnsAclListRequest
*/
func (a *DnsAPIService) DnsAclList(ctx context.Context) ApiDnsAclListRequest {
	return ApiDnsAclListRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DnsAclData
func (a *DnsAPIService) DnsAclListExecute(r ApiDnsAclListRequest) (*DnsAclData, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DnsAclData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DnsAPIService.DnsAclList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dns/acl/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.orderby != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderby", r.orderby, "form", "")
	}
	if r.select_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "select", r.select_, "form", "")
	}
	if r.where != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "where", r.where, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderPasswordKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Password"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderLoginKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Username"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenTime"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-sds-ts"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDnsRrAddRequest struct {
	ctx           context.Context
	ApiService    *DnsAPIService
	dnsRrAddInput *DnsRrAddInput
}

func (r ApiDnsRrAddRequest) DnsRrAddInput(dnsRrAddInput DnsRrAddInput) ApiDnsRrAddRequest {
	r.dnsRrAddInput = &dnsRrAddInput
	return r
}

func (r ApiDnsRrAddRequest) Execute() (*DnsRrAddSuccess, *http.Response, error) {
	return r.ApiService.DnsRrAddExecute(r)
}

/*
DnsRrAdd Add a resource record

This service allows you to add a resource record or edit an existing one.<br/>To execute this service, users must be granted the permission to use it. The rows returned to the user running the service depend on the resources granted to the group they belong to.<br/>Adding some resource records requires to specify one or more values:<table><caption>Expected values for the DNS records</caption><br/><thead><tr><th>Type</th><th>Valuenumber</th><th>Related field(s)</th><th>Description</th></tr><br/></thead><br/><tbody><tr><td rowspan='7'>SOA</td><td >1</td><td >Name server</td><td >The FQDN of the primary Master name server for the zone the record belongs to. Has a special meaning when used with Dynamic DNS (DDNS): called MNAME, it allows the DNS client to know on which DNS server it has to update itself with DDNS.</td></tr><tr><td >2</td><td >Responsible</td><td >The administrator email address for the zone the record belongs to.</td></tr><tr><td >3</td><td >Serial number</td><td >The serial number for the zone the record belongs to. The serial number is automatically incremented for each zone change.</td></tr><tr><td >4</td><td >Refresh</td><td >The refresh delay for the zone the record belongs to, in seconds. When reached, it forces the slave name server(s) to read the SOA record. If this record is higher than the slave's one, a zone transfer will be triggered by the slave to get the latest version of the zone. Typical values are 3 to 24 hours.</td></tr><tr><td >5</td><td >Retry</td><td >The retry delay for the zone the record belongs to, in seconds. When reached, it forces the slave server to retry the request if it fails to reach the master server during a refresh cycle. Typical values are from 10 to 60 minutes.</td></tr><tr><td >6</td><td >Expiration</td><td >The expiration time for the zone the record belongs to, in seconds. When reached, the zone records are considered to be no longer valid/authoritative. The DNS server then stops responding to queries for the zone. To avoid a major outage, the typical value is pretty high, between 1 to 3 weeks.</td></tr><tr><td >7</td><td >Minimum</td><td >The minimum time for the zone the record belongs to, in seconds. It defines the period of time that negative responses can be cached from the slave. For instance, if a request cannot be resolved, the server will answer with a NXDOMAIN result (No such domain). The server will continue returning this value until the Minimum value expires, then it will retry the resolution. This value has to be between 0 and 3 hours.</td></tr><tr><td >NS</td><td >1</td><td >DNS server</td><td >The DNS server hostname.</td></tr><tr><td rowspan='2'>MX</td><td >1</td><td >Preference</td><td >A number, between 0 and 65535, to define which server has priority if there are several RRs in the zone. The lowest the value has the priority over the other server(s).</td></tr><tr><td >2</td><td >Mail server</td><td >The SMTP (mail) server hostname.</td></tr><tr><td >A</td><td >1</td><td >IP address</td><td >The IPv4 Address of the host.</td></tr><tr><td >AAAA</td><td >1</td><td >IPv6 address</td><td >The IPv6 Address of the host.</td></tr><tr><td >PTR</td><td >1</td><td >Localization</td><td >The hostname that should be returned when the IP address is queried.</td></tr><tr><td >CNAME</td><td >1</td><td >Hostname</td><td >The hostname.</td></tr><tr><td >TXT</td><td >1</td><td >Text</td><td >The description of your choice (max. 255 characters including spaces).</td></tr><tr><td rowspan='4'>SRV</td><td >1</td><td >Priority</td><td >A number, between 0 and 65535, to define which server has priority if there are several SRV RRs in the zone. The lowest the value has the priority over the other server(s).</td></tr><tr><td >2</td><td >Weight</td><td >A number, between 0 and 65535, that defines the server weight. If two SRV RRs have the same priority, the weight defines which server is more used. The field gives priority to the SRV RR with the greatest weight value: the greater the value is, the more the server is solicited. If you type in , there is no weighting.</td></tr><tr><td >3</td><td >Ports</td><td >The port number that delivers the service to the target.</td></tr><tr><td >4</td><td >Target</td><td >The hostname of the server delivering the service.</td></tr><tr><td rowspan='2'>HINFO</td><td >1</td><td >CPU</td><td >The name of the CPU, either , , , , , , , or .</td></tr><tr><td >2</td><td >OS</td><td >The name of the operating system, either , , , , , , , , , , , or .</td></tr><tr><td rowspan='2'>MINFO</td><td >1</td><td >Responsibleemail</td><td >The email address of the administrator of the mail list.</td></tr><tr><td >2</td><td >Error email</td><td >The email address that should receive the error messages regarding the mail list.</td></tr><tr><td >DNAME</td><td >1</td><td >Domain</td><td >The domain name of a subdomain of the zone.</td></tr><tr><td rowspan='2'>AFSDB</td><td >1</td><td >Preference</td><td >Type the version of AFS service used: (AFS version 3.0) or (OSF DCE/NCA version).</td></tr><tr><td >2</td><td >AFS server</td><td >The AFS hostname.</td></tr><tr><td rowspan='7'>NAPTR</td><td >1</td><td >Order</td><td >A number, between 0 and 65535, to define which RR has priority if there are several NAPTR RRs in the zone. The lowest the value has the priority over the other record(s).</td></tr><tr><td >2</td><td >Preference</td><td >A number, between 0 and 65535, to define which RR has priority if there are several NAPTR RRs have the same order in the zone. The lowest the value has the priority over the other record(s).</td></tr><tr><td >2</td><td >Flags</td><td >The string that corresponds to the action you want your client application to perform. The flag specified impacts the data expected in the field , and/or .</td></tr><tr><td >3</td><td >Services</td><td >The services parameters to which applies the action specified in the field . You must respect your client application syntax.</td></tr><tr><td >4</td><td >Regex</td><td >The string that contains a substitution expression matching the format to which applies the action specified the field .</td></tr><tr><td >5</td><td >Replace</td><td >An FQDN domain name to which applies the action specified the field . You can specify no domain name if you type in (dot) in the field.</td></tr><tr><td >For more details, refer to available on IETF website at .</td></tr><tr><td >NSAP</td><td >1</td><td >Name</td><td >The NSAP address of the end system. It should start with and not exceed 255 hexadecimal characters separated by dots.</td></tr><tr><td rowspan='4'>DS</td><td >1</td><td >Key Tag</td><td >The parent zone DS key tag.</td></tr><tr><td >2</td><td >Key Algorithm</td><td >The parent zone DS algorithm key.</td></tr><tr><td >3</td><td >Digest Type</td><td >The parent zone DS digest type.</td></tr><tr><td >4</td><td >Digest</td><td >The parent zone DS digest.</td></tr><tr><td rowspan='4'>DNSKEY</td><td >1</td><td >Flags</td><td >The zone key flag.</td></tr><tr><td >2</td><td >Protocol</td><td >The protocol value.</td></tr><tr><td >3</td><td >Algorithm</td><td >The public key's cryptographic algorithm.</td></tr><tr><td >4</td><td >Key</td><td >The public key material.</td></tr><tr><td rowspan='3'>WKS</td><td >1</td><td >IP address</td><td >The IPv4 Address of the host that contains the services listed in the Services field.</td></tr><tr><td >2</td><td >Protocol</td><td >The communication protocol, either or .</td></tr><tr><td >3</td><td >Services</td><td >The list of needed services.</td></tr></tbody></table></p><br/></br></br><b>Mandatory Parameters</b>: (rr_name && rr_type && rr_value1 && (server_id || server_name || server_hostaddr))

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDnsRrAddRequest
*/
func (a *DnsAPIService) DnsRrAdd(ctx context.Context) ApiDnsRrAddRequest {
	return ApiDnsRrAddRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DnsRrAddSuccess
func (a *DnsAPIService) DnsRrAddExecute(r ApiDnsRrAddRequest) (*DnsRrAddSuccess, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DnsRrAddSuccess
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DnsAPIService.DnsRrAdd")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dns/rr/add"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.dnsRrAddInput
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderPasswordKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Password"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderLoginKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Username"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenTime"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-sds-ts"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v DnsRrAddFailed
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDnsRrCountRequest struct {
	ctx        context.Context
	ApiService *DnsAPIService
	where      *string
	tags       *string
}

// A clause that allows you to filter the result. You can include any output parameter of the service &lt;object&gt;/list of the object in this clause.To filter the result using class parameters, you must tag them first.
func (r ApiDnsRrCountRequest) Where(where string) ApiDnsRrCountRequest {
	r.where = &where
	return r
}

// The list of class parameters to tag in the call, separated by a comma. Each parameter must be specified following the format &lt;object-type&gt;.&lt;parameter&gt;, e.g. site.decription .
func (r ApiDnsRrCountRequest) Tags(tags string) ApiDnsRrCountRequest {
	r.tags = &tags
	return r
}

func (r ApiDnsRrCountRequest) Execute() (*ApiCountResponseSuccess, *http.Response, error) {
	return r.ApiService.DnsRrCountExecute(r)
}

/*
DnsRrCount Count the number of resource records

This service allows you to return the number of objects.<br/>To execute this service, users must be granted the permission to use it. The rows returned to the user running the service depend on the resources granted to the group they belong to.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDnsRrCountRequest
*/
func (a *DnsAPIService) DnsRrCount(ctx context.Context) ApiDnsRrCountRequest {
	return ApiDnsRrCountRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ApiCountResponseSuccess
func (a *DnsAPIService) DnsRrCountExecute(r ApiDnsRrCountRequest) (*ApiCountResponseSuccess, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ApiCountResponseSuccess
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DnsAPIService.DnsRrCount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dns/rr/count"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.where != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "where", r.where, "form", "")
	}
	if r.tags != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags", r.tags, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderPasswordKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Password"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderLoginKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Username"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenTime"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-sds-ts"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDnsRrDeleteRequest struct {
	ctx            context.Context
	ApiService     *DnsAPIService
	serverId       *int32
	serverName     *string
	serverHostaddr *string
	rrId           *int32
	rrName         *string
	viewId         *int32
	viewName       *string
	zoneId         *int32
	zoneName       *string
	zoneSpaceId    *int32
	rrType         *string
	rrValue1       *string
	rrValue2       *string
	rrValue3       *string
	rrValue4       *string
	rrValue5       *string
	rrValue6       *string
	rrValue7       *string
	warnings       *string
}

// The database identifier (ID) of the DNS server, a unique numeric key value automatically incremented when you add a DNS server. Use the ID to specify the DNS server of your choice.
func (r ApiDnsRrDeleteRequest) ServerId(serverId int32) ApiDnsRrDeleteRequest {
	r.serverId = &serverId
	return r
}

// The name of the DNS server.
func (r ApiDnsRrDeleteRequest) ServerName(serverName string) ApiDnsRrDeleteRequest {
	r.serverName = &serverName
	return r
}

// The IP address of the DNS server.
func (r ApiDnsRrDeleteRequest) ServerHostaddr(serverHostaddr string) ApiDnsRrDeleteRequest {
	r.serverHostaddr = &serverHostaddr
	return r
}

// The database identifier (ID) of the DNS resource record, a unique numeric key value automatically incremented when you add a DNS RR. Use the ID to specify the DNS RR of your choice.
func (r ApiDnsRrDeleteRequest) RrId(rrId int32) ApiDnsRrDeleteRequest {
	r.rrId = &rrId
	return r
}

// The name of the DNS resource record.
func (r ApiDnsRrDeleteRequest) RrName(rrName string) ApiDnsRrDeleteRequest {
	r.rrName = &rrName
	return r
}

// The database identifier (ID) of the DNS view, a unique numeric key value automatically incremented when you add a DNS view. Use the ID to specify the DNS view of your choice.
func (r ApiDnsRrDeleteRequest) ViewId(viewId int32) ApiDnsRrDeleteRequest {
	r.viewId = &viewId
	return r
}

// The name of the DNS view.
func (r ApiDnsRrDeleteRequest) ViewName(viewName string) ApiDnsRrDeleteRequest {
	r.viewName = &viewName
	return r
}

// The database identifier (ID) of the DNS zone, a unique numeric key value automatically incremented when you add a DNS zone. Use the ID to specify the DNS zone of your choice.
func (r ApiDnsRrDeleteRequest) ZoneId(zoneId int32) ApiDnsRrDeleteRequest {
	r.zoneId = &zoneId
	return r
}

// The name of the DNS zone the object belongs to.
func (r ApiDnsRrDeleteRequest) ZoneName(zoneName string) ApiDnsRrDeleteRequest {
	r.zoneName = &zoneName
	return r
}

// The database identifier (ID) of the space associated with the DNS zone the record belongs to.
func (r ApiDnsRrDeleteRequest) ZoneSpaceId(zoneSpaceId int32) ApiDnsRrDeleteRequest {
	r.zoneSpaceId = &zoneSpaceId
	return r
}

// The type of the DNS resource record.&lt;table&gt;&lt;caption&gt;rr_type possible values&lt;/caption&gt;&lt;br/&gt;&lt;thead&gt;&lt;tr&gt;&lt;th&gt;Value&lt;/th&gt;&lt;th&gt;Record type description&lt;/th&gt;&lt;/tr&gt;&lt;br/&gt;&lt;/thead&gt;&lt;br/&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td &gt;SOA&lt;/td&gt;&lt;td &gt;Start of Authority. Defines the zone name, an email contact and various time and refresh values applicable to the zone. It is automatically generated upon creation of a zone and cannot be added manually.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;NS&lt;/td&gt;&lt;td &gt;Name Server. Defines the authoritative name server(s) for the domain (defined by the SOA record) or the subdomain. The NS record that indicates which server has authority over a zone is automatically generated upon the creation of a zone, once the server has been synchronized.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;A&lt;/td&gt;&lt;td &gt;IPv4 Address. An IPv4 address for a host.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;PTR&lt;/td&gt;&lt;td &gt;Pointer Record. Address Resolution, from an IP address (IPv4 or IPv6) to a host. Used in reverse mapping.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;AAAA&lt;/td&gt;&lt;td &gt;IPv6 Address. An IPv6 address for a host.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;CNAME&lt;/td&gt;&lt;td &gt;Canonical Name. An alias name for a host.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;MX&lt;/td&gt;&lt;td &gt;Mail Exchange. The mail server/exchanger that services this zone.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;SRV&lt;/td&gt;&lt;td &gt;Services record. Defines services available in the zone, for example, LDAP, HTTP, etc...&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;DNAME&lt;/td&gt;&lt;td &gt;Delegation of Reverse Names. Delegation of reverse addresses primarily in IPv6. (Deprecated, use the CNAME RR instead)&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;TXT&lt;/td&gt;&lt;td &gt;Text. Information associated with a name.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;DS&lt;/td&gt;&lt;td &gt;Delegation Signer, a DNSSEC related RR used to verify the validity of the ZSK of a subdomain.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;DNSKEY&lt;/td&gt;&lt;td &gt;DNS Key. It contains the public cryptographic key used to sign the zone with DNSSEC.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;65534&lt;/td&gt;&lt;td &gt;A private type record automatically added to the zone once it is signed with DNSSEC.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;HINFO&lt;/td&gt;&lt;td &gt;System Information. Information about a host: hardware type and operating system description.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;MINFO&lt;/td&gt;&lt;td &gt;Mailbox mail list Information. Defines the mail administrator for a mail list and optionally a mailbox to receive error messages relating to the mail list.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;AFSDB&lt;/td&gt;&lt;td &gt;AFS Database. Location of the AFS servers.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;WKS&lt;/td&gt;&lt;td &gt;Well-Known Service. Defines the services and protocols supported by a host. (Deprecated, use the SRV RR instead)&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;NAPTR&lt;/td&gt;&lt;td &gt;Naming Authority Pointer Record. General purpose definition of rule set to be used by applications e.g. VoIP.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td &gt;NSAP&lt;/td&gt;&lt;td &gt;Network Service Access Point. Defines record (equivalent of an A record) maps a host name to an endpoint address.&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/p&gt;&lt;br/&gt;Note that the parameter is not case sensitive, you could type in &lt;b&gt;A&lt;/b&gt; or &lt;b&gt;a&lt;/b&gt;.
func (r ApiDnsRrDeleteRequest) RrType(rrType string) ApiDnsRrDeleteRequest {
	r.rrType = &rrType
	return r
}

// The first or only value required for the DNS resource record, as detailed in the service description
func (r ApiDnsRrDeleteRequest) RrValue1(rrValue1 string) ApiDnsRrDeleteRequest {
	r.rrValue1 = &rrValue1
	return r
}

// The second value of the DNS resource record, depending on its type, as detailed in the service description
func (r ApiDnsRrDeleteRequest) RrValue2(rrValue2 string) ApiDnsRrDeleteRequest {
	r.rrValue2 = &rrValue2
	return r
}

// The third value of the DNS resource record, depending on its type, as detailed in the service description
func (r ApiDnsRrDeleteRequest) RrValue3(rrValue3 string) ApiDnsRrDeleteRequest {
	r.rrValue3 = &rrValue3
	return r
}

// The fourth value of the DNS resource record, depending on its type, as detailed in the service description
func (r ApiDnsRrDeleteRequest) RrValue4(rrValue4 string) ApiDnsRrDeleteRequest {
	r.rrValue4 = &rrValue4
	return r
}

// The fifth value of the DNS resource record, depending on its type, as detailed in the service description
func (r ApiDnsRrDeleteRequest) RrValue5(rrValue5 string) ApiDnsRrDeleteRequest {
	r.rrValue5 = &rrValue5
	return r
}

// The sixth value of the DNS resource record, depending on its type, as detailed in the service description
func (r ApiDnsRrDeleteRequest) RrValue6(rrValue6 string) ApiDnsRrDeleteRequest {
	r.rrValue6 = &rrValue6
	return r
}

// The seventh value of the DNS resource record, depending on its type, as detailed in the service description
func (r ApiDnsRrDeleteRequest) RrValue7(rrValue7 string) ApiDnsRrDeleteRequest {
	r.rrValue7 = &rrValue7
	return r
}

// A way to bypass &lt;b&gt;(accept) &lt;/b&gt;any enabled rule that would return warning messages. If the service returns an error message, you cannot bypass the enabled rules.
func (r ApiDnsRrDeleteRequest) Warnings(warnings string) ApiDnsRrDeleteRequest {
	r.warnings = &warnings
	return r
}

func (r ApiDnsRrDeleteRequest) Execute() (*DnsRrDeleteSuccess, *http.Response, error) {
	return r.ApiService.DnsRrDeleteExecute(r)
}

/*
DnsRrDelete Delete a resource record

This service allows you to delete an object. A call can only delete one object.<br/>To execute this service, users must be granted the permission to use it. The rows returned to the user running the service depend on the resources granted to the group they belong to.</br></br><b>Mandatory Parameters</b>: (rr_id || (rr_name && (server_id || server_name || server_hostaddr)))

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDnsRrDeleteRequest
*/
func (a *DnsAPIService) DnsRrDelete(ctx context.Context) ApiDnsRrDeleteRequest {
	return ApiDnsRrDeleteRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DnsRrDeleteSuccess
func (a *DnsAPIService) DnsRrDeleteExecute(r ApiDnsRrDeleteRequest) (*DnsRrDeleteSuccess, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DnsRrDeleteSuccess
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DnsAPIService.DnsRrDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dns/rr/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.serverId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_id", r.serverId, "form", "")
	}
	if r.serverName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_name", r.serverName, "form", "")
	}
	if r.serverHostaddr != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server_hostaddr", r.serverHostaddr, "form", "")
	}
	if r.rrId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rr_id", r.rrId, "form", "")
	}
	if r.rrName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rr_name", r.rrName, "form", "")
	}
	if r.viewId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "view_id", r.viewId, "form", "")
	}
	if r.viewName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "view_name", r.viewName, "form", "")
	}
	if r.zoneId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "zone_id", r.zoneId, "form", "")
	}
	if r.zoneName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "zone_name", r.zoneName, "form", "")
	}
	if r.zoneSpaceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "zone_space_id", r.zoneSpaceId, "form", "")
	}
	if r.rrType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rr_type", r.rrType, "form", "")
	}
	if r.rrValue1 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rr_value1", r.rrValue1, "form", "")
	}
	if r.rrValue2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rr_value2", r.rrValue2, "form", "")
	}
	if r.rrValue3 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rr_value3", r.rrValue3, "form", "")
	}
	if r.rrValue4 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rr_value4", r.rrValue4, "form", "")
	}
	if r.rrValue5 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rr_value5", r.rrValue5, "form", "")
	}
	if r.rrValue6 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rr_value6", r.rrValue6, "form", "")
	}
	if r.rrValue7 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rr_value7", r.rrValue7, "form", "")
	}
	if r.warnings != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "warnings", r.warnings, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderPasswordKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Password"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderLoginKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Username"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenTime"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-sds-ts"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v DnsRrDeleteFailed
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDnsRrEditRequest struct {
	ctx            context.Context
	ApiService     *DnsAPIService
	dnsRrEditInput *DnsRrEditInput
}

func (r ApiDnsRrEditRequest) DnsRrEditInput(dnsRrEditInput DnsRrEditInput) ApiDnsRrEditRequest {
	r.dnsRrEditInput = &dnsRrEditInput
	return r
}

func (r ApiDnsRrEditRequest) Execute() (*DnsRrEditSuccess, *http.Response, error) {
	return r.ApiService.DnsRrEditExecute(r)
}

/*
DnsRrEdit Edit a resource record

This service allows you to add a resource record or edit an existing one.<br/>To execute this service, users must be granted the permission to use it. The rows returned to the user running the service depend on the resources granted to the group they belong to.<br/>Adding some resource records requires to specify one or more values:<table><caption>Expected values for the DNS records</caption><br/><thead><tr><th>Type</th><th>Valuenumber</th><th>Related field(s)</th><th>Description</th></tr><br/></thead><br/><tbody><tr><td rowspan='7'>SOA</td><td >1</td><td >Name server</td><td >The FQDN of the primary Master name server for the zone the record belongs to. Has a special meaning when used with Dynamic DNS (DDNS): called MNAME, it allows the DNS client to know on which DNS server it has to update itself with DDNS.</td></tr><tr><td >2</td><td >Responsible</td><td >The administrator email address for the zone the record belongs to.</td></tr><tr><td >3</td><td >Serial number</td><td >The serial number for the zone the record belongs to. The serial number is automatically incremented for each zone change.</td></tr><tr><td >4</td><td >Refresh</td><td >The refresh delay for the zone the record belongs to, in seconds. When reached, it forces the slave name server(s) to read the SOA record. If this record is higher than the slave's one, a zone transfer will be triggered by the slave to get the latest version of the zone. Typical values are 3 to 24 hours.</td></tr><tr><td >5</td><td >Retry</td><td >The retry delay for the zone the record belongs to, in seconds. When reached, it forces the slave server to retry the request if it fails to reach the master server during a refresh cycle. Typical values are from 10 to 60 minutes.</td></tr><tr><td >6</td><td >Expiration</td><td >The expiration time for the zone the record belongs to, in seconds. When reached, the zone records are considered to be no longer valid/authoritative. The DNS server then stops responding to queries for the zone. To avoid a major outage, the typical value is pretty high, between 1 to 3 weeks.</td></tr><tr><td >7</td><td >Minimum</td><td >The minimum time for the zone the record belongs to, in seconds. It defines the period of time that negative responses can be cached from the slave. For instance, if a request cannot be resolved, the server will answer with a NXDOMAIN result (No such domain). The server will continue returning this value until the Minimum value expires, then it will retry the resolution. This value has to be between 0 and 3 hours.</td></tr><tr><td >NS</td><td >1</td><td >DNS server</td><td >The DNS server hostname.</td></tr><tr><td rowspan='2'>MX</td><td >1</td><td >Preference</td><td >A number, between 0 and 65535, to define which server has priority if there are several RRs in the zone. The lowest the value has the priority over the other server(s).</td></tr><tr><td >2</td><td >Mail server</td><td >The SMTP (mail) server hostname.</td></tr><tr><td >A</td><td >1</td><td >IP address</td><td >The IPv4 Address of the host.</td></tr><tr><td >AAAA</td><td >1</td><td >IPv6 address</td><td >The IPv6 Address of the host.</td></tr><tr><td >PTR</td><td >1</td><td >Localization</td><td >The hostname that should be returned when the IP address is queried.</td></tr><tr><td >CNAME</td><td >1</td><td >Hostname</td><td >The hostname.</td></tr><tr><td >TXT</td><td >1</td><td >Text</td><td >The description of your choice (max. 255 characters including spaces).</td></tr><tr><td rowspan='4'>SRV</td><td >1</td><td >Priority</td><td >A number, between 0 and 65535, to define which server has priority if there are several SRV RRs in the zone. The lowest the value has the priority over the other server(s).</td></tr><tr><td >2</td><td >Weight</td><td >A number, between 0 and 65535, that defines the server weight. If two SRV RRs have the same priority, the weight defines which server is more used. The field gives priority to the SRV RR with the greatest weight value: the greater the value is, the more the server is solicited. If you type in , there is no weighting.</td></tr><tr><td >3</td><td >Ports</td><td >The port number that delivers the service to the target.</td></tr><tr><td >4</td><td >Target</td><td >The hostname of the server delivering the service.</td></tr><tr><td rowspan='2'>HINFO</td><td >1</td><td >CPU</td><td >The name of the CPU, either , , , , , , , or .</td></tr><tr><td >2</td><td >OS</td><td >The name of the operating system, either , , , , , , , , , , , or .</td></tr><tr><td rowspan='2'>MINFO</td><td >1</td><td >Responsibleemail</td><td >The email address of the administrator of the mail list.</td></tr><tr><td >2</td><td >Error email</td><td >The email address that should receive the error messages regarding the mail list.</td></tr><tr><td >DNAME</td><td >1</td><td >Domain</td><td >The domain name of a subdomain of the zone.</td></tr><tr><td rowspan='2'>AFSDB</td><td >1</td><td >Preference</td><td >Type the version of AFS service used: (AFS version 3.0) or (OSF DCE/NCA version).</td></tr><tr><td >2</td><td >AFS server</td><td >The AFS hostname.</td></tr><tr><td rowspan='7'>NAPTR</td><td >1</td><td >Order</td><td >A number, between 0 and 65535, to define which RR has priority if there are several NAPTR RRs in the zone. The lowest the value has the priority over the other record(s).</td></tr><tr><td >2</td><td >Preference</td><td >A number, between 0 and 65535, to define which RR has priority if there are several NAPTR RRs have the same order in the zone. The lowest the value has the priority over the other record(s).</td></tr><tr><td >2</td><td >Flags</td><td >The string that corresponds to the action you want your client application to perform. The flag specified impacts the data expected in the field , and/or .</td></tr><tr><td >3</td><td >Services</td><td >The services parameters to which applies the action specified in the field . You must respect your client application syntax.</td></tr><tr><td >4</td><td >Regex</td><td >The string that contains a substitution expression matching the format to which applies the action specified the field .</td></tr><tr><td >5</td><td >Replace</td><td >An FQDN domain name to which applies the action specified the field . You can specify no domain name if you type in (dot) in the field.</td></tr><tr><td >For more details, refer to available on IETF website at .</td></tr><tr><td >NSAP</td><td >1</td><td >Name</td><td >The NSAP address of the end system. It should start with and not exceed 255 hexadecimal characters separated by dots.</td></tr><tr><td rowspan='4'>DS</td><td >1</td><td >Key Tag</td><td >The parent zone DS key tag.</td></tr><tr><td >2</td><td >Key Algorithm</td><td >The parent zone DS algorithm key.</td></tr><tr><td >3</td><td >Digest Type</td><td >The parent zone DS digest type.</td></tr><tr><td >4</td><td >Digest</td><td >The parent zone DS digest.</td></tr><tr><td rowspan='4'>DNSKEY</td><td >1</td><td >Flags</td><td >The zone key flag.</td></tr><tr><td >2</td><td >Protocol</td><td >The protocol value.</td></tr><tr><td >3</td><td >Algorithm</td><td >The public key's cryptographic algorithm.</td></tr><tr><td >4</td><td >Key</td><td >The public key material.</td></tr><tr><td rowspan='3'>WKS</td><td >1</td><td >IP address</td><td >The IPv4 Address of the host that contains the services listed in the Services field.</td></tr><tr><td >2</td><td >Protocol</td><td >The communication protocol, either or .</td></tr><tr><td >3</td><td >Services</td><td >The list of needed services.</td></tr></tbody></table></p><br/></br></br><b>Mandatory Parameters</b>: (rr_id || (rr_name && rr_type && rr_value1 && (server_id || server_name || server_hostaddr)))

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDnsRrEditRequest
*/
func (a *DnsAPIService) DnsRrEdit(ctx context.Context) ApiDnsRrEditRequest {
	return ApiDnsRrEditRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DnsRrEditSuccess
func (a *DnsAPIService) DnsRrEditExecute(r ApiDnsRrEditRequest) (*DnsRrEditSuccess, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DnsRrEditSuccess
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DnsAPIService.DnsRrEdit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dns/rr/edit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.dnsRrEditInput
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderPasswordKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Password"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HttpHeaderLoginKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-IPM-Username"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["EipApiTokenTime"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-sds-ts"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v DnsRrEditFailed
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDnsRrInfoRequest struct {
	ctx                context.Context
	ApiService         *DnsAPIService
	noParentClassParam *int32
	rrId               *int32
}

// A way to exclude the class parameter details of the parent of the object in the output parameter dedicated to its class parameters.
func (r ApiDnsRrInfoRequest) NoParentClassParam(noParentClassParam int32) ApiDnsRrInfoRequest {
	r.noParentClassParam = &noParentClassParam
	return r
}

// The database identifier (ID) of the DNS resource record, a unique numeric key value automatically incremented when you add a DNS RR. Use the ID to specify the DNS RR of your choice.
func (r ApiDnsRrInfoRequest) RrId(rrId int32) ApiDnsRrInfoRequest {
	r.rrId = &rrId
	return r
}

func (r ApiDnsRrInfoRequest) Execute() (*DnsRrData, *http.Response, error) {
	return r.ApiService.DnsRrInfoExecute(r)
}

/*
DnsRrInfo Display the properties of a resource record

This service allows to display the properties of a resource record.To execute this service, users must be granted the permission to use it. The rows returned to the user running the service depend on the resources granted to the group they belong to.Adding some resource records requires to specify one or more values:<br/>                                Expected values for the DNS records<br/>                                <br/>                                    <br/>                                    <br/>                                    <br/>                                    <br/>                                    <br/>                                        <br/>                                            Type<br/>                                            Value number<br/>                                            Related field(s)<br/>                                            Syntax<br/>                                        <br/>                                    <br/>                                    <br/>                                        <br/>                                            SOA<br/>                                            1<br/>                                            Name server<br/>                                            Type in the FQDN of the primary Master name server for the zone the record belongs to. Has a special meaning when used with Dynamic DNS (DDNS): called MNAME, it allows the DNS client to know on which DNS server it has to update itself with DDNS.<br/>                                        <br/>                                        <br/>                                            2<br/>                                            Responsible<br/>                                            Type in the administrator email address for the zone the record belongs to.<br/>                                        <br/>                                        <br/>                                            3<br/>                                            Serial number<br/>                                            Type in the serial number for the zone the record belongs to. The serial number is automatically incremented for each zone change.<br/>                                        <br/>                                        <br/>                                            4<br/>                                            Refresh<br/>                                            Type in the refresh delay for the zone the record belongs to, in seconds. When reached, it forces the slave name server(s) to read the SOA record. If this record is higher than the slave's one, a zone transfer will be triggered by the slave to get the latest version of the zone. Typical values are 3 to 24 hours.<br/>                                        <br/>                                        <br/>                                            5<br/>                                            Retry<br/>                                            Type in the retry delay for the zone the record belongs to, in seconds. When reached, it forces the slave server to retry the request if it fails to reach the master server during a refresh cycle. Typical values are from 10 to 60 minutes.<br/>                                        <br/>                                        <br/>                                            6<br/>                                            Expiration<br/>                                            Type in the expiration time for the zone the record belongs to, in seconds. When reached, the zone records are considered to be no longer valid/authoritative. The DNS server then stops responding to queries for the zone. To avoid a major outage, the typical value is pretty high, between 1 to 3 weeks.<br/>                                        <br/>                                        <br/>                                            7<br/>                                            Minimum<br/>                                            Type in the minimum time for the zone the record belongs to, in seconds. It defines the period of time that negative responses can be cached from the slave. For instance, if a request cannot be resolved, the server will answer with a NXDOMAIN result (No such domain). The server will continue returning this value until the Minimum value expires, then it will retry the resolution. This value has to be between 0 and 3 hours.<br/>                                        <br/>                                        <br/>                                            NS<br/>                                            1<br/>                                            DNS server<br/>                                            Type in the DNS server hostname.<br/>                                        <br/>                                        <br/>                                            MX<br/>                                            1<br/>                                            Preference<br/>                                            Type a number, between 0 and 65535, to define which server has priority if there are several RRs in the zone. The lowest the value has the priority over the other server(s).<br/>                                        <br/>                                        <br/>                                            2<br/>                                            Mail server<br/>                                            Type in the SMTP (mail) server hostname.<br/>                                        <br/>                                        <br/>                                            A<br/>                                            1<br/>                                            IP address<br/>                                            Type in the IPv4 Address of the host.<br/>                                        <br/>                                        <br/>                                            AAAA<br/>                                            1<br/>                                            IPv6 address<br/>                                            Type in the IPv6 Address of the host.<br/>                                        <br/>                                        <br/>                                            PTR<br/>                                            1<br/>                                            Localization<br/>                                            Type in the hostname that should be returned when the IP address is queried.<br/>                                        <br/>                                        <br/>                                            CNAME<br/>                                            1<br/>                                            Hostname<br/>                                            Type in the hostname.<br/>                                        <br/>                                        <br/>                                            TXT<br/>                                            1<br/>                                            Text<br/>                                            Type in the description of your choice (max. 255 characters including spaces).<br/>                                        <br/>                                        <br/>                                            SRV<br/>                                            1<br/>                                            Priority<br/>                                            Type a number, between 0 and 65535, to define which server has priority if there are several SRV RRs in the zone. The lowest the value has the priority over the other server(s).<br/>                                        <br/>                                        <br/>                                            2<br/>                                            Weight<br/>                                            Type a number, between 0 and 65535, that defines the server weight. If two SRV RRs have the same priority, the weight defines which server is more used. The field gives priority to the SRV RR with the greatest weight value: the greater the value is, the more the server is solicited. If you type in 0, there is no weighting.<br/>                                        <br/>                                        <br/>                                            3<br/>                                            Ports<br/>                                            Type in the port number that delivers the service to the target.<br/>                                        <br/>                                        <br/>                                            4<br/>                                            Target<br/>                                            Type in the hostname of the server delivering the service.<br/>                                        <br/>                                        <br/>                                            HINFO<br/>                                            1<br/>                                            CPU<br/>                                            Type in the name of the CPU, either INTEL, AMD, SPARC, ALPHA, HPPA, POWERPC, MIPS, MOTOROLA or Other.<br/>                                        <br/>                                        <br/>                                            2<br/>                                            OS<br/>                                            The name of the operating system, either AIX, FREEBSD, HPUX, IRIX, LINUX, OSF, OS/2, SOLARIS, SUNOS, VMS, WINDOWS, or Other.<br/>                                        <br/>                                        <br/>                                            MINFO<br/>                                            1<br/>                                            Responsible email<br/>                                            Type in the email address of the administrator of the mail list.<br/>                                        <br/>                                        <br/>                                            2<br/>                                            Error email<br/>                                            Type in the email address that should receive the error messages regarding the mail list.<br/>                                        <br/>                                        <br/>                                            DNAME<br/>                                            1<br/>                                            Domain<br/>                                            Type in the domain name of a subdomain of the zone.<br/>                                        <br/>                                        <br/>                                            AFSDB<br/>                                            1<br/>                                            Preference<br/>                                            Type the version of AFS service used: 1 (AFS version 3.0) or 2 (OSF DCE/NCA version).<br/>                                        <br/>                                        <br/>                                            2<br/>                                            AFS server<br/>                                            Type in the AFS hostname.<br/>                                        <br/>                                        <br/>                                            NAPTR<br/>                                                    The record NAPTR is described in the RFC 3403, available on IETF website: http://tools.ietf.org/html/rfc3403.<br/>                                                <br/>                                
[...]
